# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
build.ninja
cmake-build-debug
cmake-build-release
CmakeCache.txt
.ninja_deps
.ninja_log
build.ninja
Makefile
rules.ninja
cmake_install.cmake
CMakeFiles

seele/juce
seele/seelePlugin_artefacts

.idea
.ccls-cache
.cmake

# conan
Testing/
conan.lock
conanbuildinfo.cmake
conaninfo.txt
graph_info.json
conanbuildinfo.txt
Find*
conan_paths.cmake

#OS
.plist
