[submodule "ThirdParty/JUCE"]
	path = ThirdParty/JUCE
	url = https://github.com/juce-framework/JUCE.git

[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/matplotlibcpp"]
	path = ThirdParty/matplotlibcpp
	url = https://github.com/lava/matplotlib-cpp.git
